
<div id="hdx-error-table" class="hide">
  <table style="width:100%; border-collapse:collapse;">
    <thead>
    <tr style="text-align:left; border-bottom:1px solid rgba(255,255,255,.15);">
      <th style="padding:6px 4px;">Time</th>
      <th style="padding:6px 4px;">Message</th>
    </tr>
    </thead>
    <tbody id="hdx-error-table-body">
    </tbody>
  </table>
</div>

<div id="hdx-error-table-no-content" style="font-size: clamp(14px, 6vw, 72px); font-weight: 600; text-align: center; height: 150px;">
  <span style="color: green;">No errors</span>
</div>
